/*variables*/
$color-zero:#414141; // default font color
$color-one:#333; // headings color-one
$color-two:#efece6; // heading border color
$color-three:#a9a9a9; // dashed borders
$color-four:#f8f8f8; //light gray
$color-five:#ebfaff; // super light blue

$color-info:#49cdff;
$color-info-inv:#fff;

$white:#fff;

$color-secondary:#ff5c49;
$color-secondary-light:#ff8f78;
$color-secondary-inv:#fff;

$color-error:#ff1b00;
$color-error-inv:#fff;

$color-go:#89d73e;
$color-go-light:#aae558;
$color-go-inv:#fff;
